/* General Rules */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --primary-color: #b91450;
}

body{
    background-color: var(--primary-color);
    font-family: Arial, Helvetica, sans-serif;
}

.d-none{
    display: none;
}

/* Main Rules */
h2{
    color: white;
    text-align: center;
    font-size: 35px;
    margin-top: 20px;
}

h3{
    font-size: 28px;
}

.input-cont{
    background-color: white;
    width: 80%;
    margin: auto;
    padding: 25px 0;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin-top: 15px;
    font-size: 15px;
}

#form{
    display: flex;
    justify-content: space-evenly;
}

#form > div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .labels{
        color: var(--primary-color);
        font-size: 20px;
        font-weight: bold;
    }

    .input{
        margin-top: 10px;
        background-color: white;
        border: 2px solid var(--primary-color);
        border-radius: 5px;
        padding: 4px 6px;
        width: 220px;
        font-size: 20px;
    }

    input:focus{
        outline: none;
        border: 3px solid var(--primary-color);
    }

.buttons{
    text-align: center;
    margin-top:50px;
}

    .buttons > button{
    color: var(--primary-color);
    background-color: lightgrey;
    padding: 5px 7px;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    margin: 0 10px;
    cursor: pointer;
    }

    .buttons > button:focus{
        border: 2px solid gray;
    }

.output-cont{
    background-color: white;
    width: 80%;
    margin: auto;
    padding: 30px;
}

    .output{
        border: 1px solid black;
        display: flex;
        height: 170px;
    }

    .name{
        width: 30%;
        background-color: gray;
        height: 100%;
        padding: 35px;
        font-size: 25px;
        font-weight: bold;
    }

    .info{
        width: 70%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 20px;
    }

    .info .title{
        font-weight: bold;
        margin-bottom: 50px;
    }
